aiohttp==3.7.4.post0
altgraph==0.17
apipkg==1.5
arrow==1.0.3
astroid==2.5.1
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
auto-py-to-exe==2.8.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
Cython==0.29.22
DateTime==4.3
dhooks==1.1.4
discord==1.0.1
discord-ext-menus==1.0.0a30+g309c702
discord.py==1.7.1
Eel==0.12.4
execnet==1.8.0
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==2.10
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
mock==4.0.3
MouseInfo==0.1.3
multidict==5.1.0
packaging==20.9
path==15.1.2
path.py==12.5.0
pefile==2019.4.18
pluggy==0.13.1
py==1.10.0
PyAutoGUI==0.9.52
pycparser==2.20
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.7.2
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyRect==0.1.4
PyScreeze==0.1.26
pytest==6.2.4
pytest-shutil==1.7.0
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
rfc3986==1.4.0
six==1.16.0
sniffio==1.2.0
Tcl==0.2
termcolor==1.1.0
tk==0.1.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
whichcraft==0.6.1
wrapt==1.12.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
